@media (max-width: 1366.98px) {
    section{
        .recent_test{
            .recent_test_body{
                .recent_test_card{
                    ul {
                        padding: 0px;
                        margin: 0px;
                        list-style-type: none;
                        li{
                            display: inline-block;
    margin-right: 7px;
    font-weight: 400;
    font-size: 13px;
    color: #3E3E3E;
                        }
                    }
                }
            }
        }
    }    
       
}
